.bullet-list {
    max-width: 100%;
    width: 255px;
    list-style: none;

    &__title {
        margin-bottom: 16px;
    }

    &__item {
        position: relative;
        margin-left: 20px;
        font-size: 14px;
        color: $dark-shade-75per;

        &::before {
            @include size(10px);

            position: absolute;
            top: 7px;
            left: -20px;
            content: "";
            display: inline-block;
            border-radius: 50%;
            background-color: $dark-shade-25per;
        }

        & + & {
            margin-top: 10px;
        }
    }
}
