.radio {
    cursor: pointer;

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        color: $darkShade50per;
        transition-duration: $base-duration;

        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            min-width: 20px;
            height: 20px;
            content: '';
            border: 1px solid $darkShade25per;
            border-radius: 50%;
            transition-duration: $base-duration;
        }

        &::after {
            position: absolute;
            top: 6px;
            left: 4px;
            content: '';
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
            opacity: 0;
            transition-duration: $base-duration;

            @include size(12px);
        }
    }

    &__el {
        display: none;

        &:checked + .radio__text::before {
            border: 1px solid $purple;
        }

        &:checked + .radio__text {
            color: $darkShade75per;
        }

        &:checked + .radio__text::after {
            opacity: 1;
        }
    }
}
