.toggle {
    display: block;
    cursor: pointer;

    &__text {
        position: relative;
        display: block;
        padding-left: 50px;
        color: $darkShade75per;

        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            min-width: 40px;
            height: 20px;
            content: '';
            border: 1px solid $darkShade25per;
            border-radius: 10px;
            transition-duration: 0.5s;
        }

        &::after {
            position: absolute;
            top: 6px;
            left: 4px;
            content: '';
            background: linear-gradient(
                to left,
                #bc9cff 0%,
                #8ba4f9 45%,
                #c4c4c4 60%,
                #c4c4c4 100%
            );
            background-position: left;
            background-size: 250%;
            border-radius: 50%;
            transition-duration: 0.5s;

            @include size(12px);
        }
    }

    &__el {
        display: none;

        &:checked + .toggle__text::before {
            border: 1px solid $purple;
        }

        &:checked + .toggle__text::after {
            left: 24px;
            //or transform: translateX(24px);
            background-position: right;
            transform: rotate(-90deg);
        }
    }
}
