.toggle {
    display: block;
    cursor: pointer;

    &__text {
        position: relative;
        display: block;
        padding-left: 50px;
        color: $dark-shade-75per;

        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            content: "";
            border: 1px solid $dark-shade-25per;
            border-radius: 10px;
            height: 20px;
            min-width: 40px;
            transition-duration: 0.5s;
        }

        &::after {
            @include size(12px);

            position: absolute;
            top: 6px;
            left: 4px;
            content: "";
            border-radius: 50%;
            background: linear-gradient(
                to left,
                #bc9cff 0%,
                #8ba4f9 45%,
                #c4c4c4 60%,
                #c4c4c4 100%
            );
            background-position: left;
            background-size: 250%;
            transition-duration: 0.5s;
        }
    }

    &__el {
        display: none;

        &:checked + .toggle__text::before {
            border: 1px solid $purple;
        }
        &:checked + .toggle__text::after {
            left: 24px;
            transform: rotate(-90deg); // or transform: translateX(24px);
            background-position: right;
        }
    }
}
