mixin toggle(options)
    -
        var toggleTxt = options.txt;
        var checked = options.active;

    label(class = "toggle__label")
        if checked
            input(class = "toggle__el", type = "checkbox", checked)
        else
            input(class = "toggle__el", type = "checkbox")
        span(class = "toggle__text switches-text")= toggleTxt
