.btn {
    display: inline-block;
    height: 44px;
    text-align: center;

    &__text {
        text-transform: uppercase;
        line-height: 44px;
    }

    &--type--filled {
        border-radius: 25px;
        background: $pink-purple-gradient;
        min-width: 99px;
        padding: 0 20px;
        transition-duration: $base-duration;

        & > .btn__text {
            color: #fff;
        }

        &--arrow {
            position: relative;
            max-width: 100%;
            min-width: 220px;
            width: 320px;

            &::after {
                @include size(16px);

                position: absolute;
                top: 0;
                bottom: 0;
                right: 14px;
                content: "";
                margin: auto;
                background-image: url("/src/SVG/arrow-ico.svg");
                background-position: center;
            }
        }
    }

    &--type--unfilled {
        position: relative;
        border: solid 2px transparent;
        border-radius: 25px;
        background-color: #fff;
        background-clip: padding-box;
        min-width: 99px;
        box-sizing: border-box;
        padding: 0 calc(20px - 2px);

        & > .btn__text {
            line-height: calc(44px - 2px - 2px);
            color: $purple;
        }

        &::before {
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            border-radius: inherit;
            margin: -2px;
            background: $pink-purple-gradient;
            transition-duration: $base-duration;
        }
    }

    &--type--without-border {
        width: auto;

        & > .btn__text {
            color: $purple;
            transition-duration: $base-duration;
        }

        &:hover.btn--type--without-border > .btn__text {
            color: $dark-shade-50per;
        }
    }
}

.btn--type--filled:hover.btn--type--filled,
.btn--type--filled--arrow:hover.btn--type--filled--arrow,
.btn--type--unfilled:hover.btn--type--unfilled::before {
    opacity: 0.5;
}
