.room-price {
    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__room-number-wrap {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-right: 8px;

        &::before {
            content: "№";
            margin-right: 2px;
            font-size: 14px;
        }
    }

    &__type {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $purple;
    }

    &__day-price {
        font-size: 14px;
        color: $dark-shade-50per;

        &--highlighted {
            font-weight: $font-weight-bold;
        }
    }

    &__final-price {
        display: flex;
        align-items: flex-end;
    }

    &__final-price-text {
        white-space: nowrap;
    }

    &__final-price-line {
        border: 1px dashed $dark-shade-25per;
        width: 100%;
    }

    &__price-list {
        margin-bottom: 30px;
        list-style: none;

        & > * + * {
            margin-top: 10px;
        }
    }

    &__price-el {
        display: flex;
    }

    &__price-el-desc {
        position: relative;
        width: 75%;
        padding-right: 25px;
        color: $dark-shade-75per;
    }

    &__price-el-desc--info::after {
        @include size(20px);

        position: absolute;
        top: 2px;
        right: 0;
        content: "";
        cursor: pointer;
        background: {
            position: center;
            image: url("/src/SVG/info-ico.svg");
            repeat: no-repeat;
        }
    }

    &__price-el-price {
        margin-left: auto;
        color: $dark-shade-75per;
    }
}
