@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: url("../FONTS/Roboto-Bold.woff2") format("woff2"),
    url("../FONTS/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 400;
  src: url("../FONTS/Roboto-Light.woff2") format("woff2"),
    url("../FONTS/Roboto-Light.woff") format("woff");
}
