// Devices' size
$largeDekstopWidth: 1920px;
$dekstopWidth: 1280px;
$smallDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 480px;
$smallPhoneWidth: 320px;

// Colors
$dark-shade-100per: #1f2041;
$dark-shade-75per: rgba(31, 32, 65, 0.75);
$dark-shade-50per: rgba(31, 32, 65, 0.5);
$dark-shade-25per: rgba(31, 32, 65, 0.25);
$dark-shade-10per: rgba(31, 32, 65, 0.1);
$dark-shade-5per: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

// Gradients
$blue-green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$pink-purple-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$pace-pink-purple-gradient: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 249, 0.25) 100%
);
$black-graident: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$gold-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);

// Fonts
$font-montserrat: "Montserrat", Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

//Card
$card-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
$card-border-radius: 4px;

// Shadows
$light-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
$dot-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
$sidebar-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);

// Other
$base-duration: 0.2s;
