// Devices' size
$largeDekstopWidth: 1920px;
$dekstopWidth: 1280px;
$smallDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 480px;
$smallPhoneWidth: 320px;

// Colors
$darkShade100per: #1f2041;
$darkShade75per: rgba(31, 32, 65, 0.75);
$darkShade50per: rgba(31, 32, 65, 0.5);
$darkShade25per: rgba(31, 32, 65, 0.25);
$darkShade10per: rgba(31, 32, 65, 0.1);
$darkShade5per: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$blueGreenGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$pinkPurpleGradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$pacePinkPurpleGradient: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 249, 0.25) 100%
);

// Fonts
$font-montserrat: 'Montserrat', Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Other
$primitives-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
$card-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
$base-duration: 0.2s;
