// Devices' size
$largeDekstopWidth: 1920px;
$dekstopWidth: 1280px;
$smallDesktopWidth: 980px;
$tabletWidth: 768px;
$phoneWidth: 480px;
$smallPhoneWidth: 320px;

// Colors
$darkShade100per: #1f2041;
$darkShade75per: rgba(31, 32, 65, 0.75);
$darkShade50per: rgba(31, 32, 65, 0.5);
$darkShade25per: rgba(31, 32, 65, 0.25);
$darkShade5per: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

// Fonts
