.advantage {
    width: 280px;
    max-width: 100%;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    &__wrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    &__icon {
        min-width: 48px;
        height: 48px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;

        &--smile {
            background-image: url('/src/SVG/smile-ico.svg');
        }

        &--city {
            background-image: url('/src/SVG/city-ico.svg');
        }
    }

    &__title {
        font-weight: 700;
        color: $darkShade75per;
    }

    &__descr {
        font-weight: $font-weight-regular;
        color: $darkShade75per;
    }
}
