mixin advantage(options)
    -
        var title = options.txt.title
        var descr = options.txt.descr
        var nameIcon = options.nameIcon

    .advantage
        .advantage__wrap
            .advantage__icon(class = `advantage__icon--${nameIcon}`)
            .advantage__text-wrap
                p.advantage__title= title
                p.advantage__descr= descr
