/* rateBtn was made based on this video:
https://www.youtube.com/watch?v=SD7zspiPlQ4 */

.rating {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100px;

    &__item {
        margin-top: 0;
        background: -moz-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        background: -webkit-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        background: $pink-purple-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        list-style: none;
        font-size: 24px;
        color: transparent;

        /* initial: make all stars full */
        &::before {
            content: "\2605";
        }

        /* make until the clicked star (the rest) empty */
        &.active ~ .rating__item::before {
            content: "\2606";
        }
    }

    &.rating--clickable {
        cursor: pointer;
    }

    /* on hover make all full */
    &.rating--clickable:hover .rating__item::before {
        content: "\2605";
    }
}

/* make until the hovered (the rest) empty */
.rating.rating--clickable > .rating__item:hover ~ .rating__item::before {
    content: "\2606";
}
