.checkbox {
    display: block;
    cursor: pointer;

    &__desc {
        margin-top: 0;
        overflow: hidden;
        padding-left: 30px;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 14px;
        color: $dark-shade-50per;
    }

    &__text {
        position: relative;
        display: block;
        padding-left: 30px;
        line-height: 18px;
        color: $dark-shade-50per;

        &::before {
            @include size(20px);

            position: absolute;
            top: 0;
            left: 0;
            content: "";
            border: 1px solid $dark-shade-25per;
            border-radius: 4px;
            margin-right: 10px;
            transition-duration: $base-duration;
        }

        &::after {
            position: absolute;
            top: 10px;
            left: 10px;
            content: url("../SVG/tick-ico.svg");
            opacity: 0;
            transform: translate(-50%, -50%);
            display: block;
            transition-duration: $base-duration;
        }

        &--title {
            margin-bottom: 5px;
            font-weight: 700;
            color: $dark-shade-75per;
        }
    }

    &__el {
        display: none;

        &:checked + .checkbox__text::before {
            border: 1px solid $purple;
        }

        &:checked + .checkbox__text::after {
            opacity: 1;
        }
    }
}
