mixin checkbox(options)
    -
        var titleTxt = options.txt.title
        var mainTxt = options.txt.main;
        var checked = options.active;

    label(class = "checkbox")
        if checked
            input(class = "checkbox__el", type = "checkbox", checked)
        else
            input(class = "checkbox__el", type = "checkbox")
        if titleTxt
            span(class = "checkbox__text checkbox__text--title")= titleTxt
            p(class = "checkbox__desc")= mainTxt
        else
            span(class = "checkbox__text")= mainTxt
