.room-card {
    min-width: 250px;
    width: 100%;
    display: block;

    &:hover,
    &:active,
    &:visited {
        color: $dark-shade-100per;
    }

    &__slider {
        position: relative;
        border-radius: $card-border-radius $card-border-radius 0 0;
        width: 100%;
        overflow: hidden;
        padding-top: 55.5%;

        &::after {
            @include size(100%);

            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 0;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(255, 255, 255, 0) 15%,
                rgba(255, 255, 255, 0) 85%,
                rgba(0, 0, 0, 0.5) 100%
            );
            transition-duration: $base-duration;
        }
    }

    &__slider-track {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        list-style: none;

        &.shifting {
            transition: left $base-duration ease-out;
        }
    }

    &__slider-item {
        position: relative;
        height: 100%;
    }

    &__slider-image {
        @include size(100%);

        object-fit: cover;
    }

    &__slider-buttons {
        z-index: 2;
        position: absolute;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition-duration: $base-duration;
    }

    &__slider-btn {
        @include size(44px);

        background: {
            position: center;
            image: url("/src/SVG/angle-light-ico.svg");
            repeat: no-repeat;
        }

        &--left {
            transform: rotate(180deg);
        }
    }

    &__slider-dots {
        z-index: 2;
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: flex;
        list-style: none;
    }

    &__slider-dot {
        @include size(8px);

        border: 1px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: $dot-shadow;

        & + & {
            margin-left: 4px;
        }

        &--active {
            background-color: #fff;
        }
    }

    &__info {
        border-radius: 0 0 $card-border-radius $card-border-radius;
        background-color: #fff;
        padding: 20px 18px;
        box-shadow: $light-shadow;
    }

    &__info-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &__info-room-number-wrap {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__info-title {
        margin-right: 2px;
        font-style: 19px;

        &::before {
            content: "№";
            margin-right: 2px;
            font-size: 14px;
        }
    }

    &__info-type {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $purple;
    }

    &__info-day-price {
        font-size: 14px;
        color: $dark-shade-50per;

        &--highlighted {
            font-weight: $font-weight-bold;
        }
    }

    &__info-line {
        border: 1px solid $dark-shade-10per;
        margin-bottom: 8px;
        width: 100%;
    }

    &__info-review {
        display: flex;
        justify-content: space-between;
    }
}

.body--device--pc .room-card__slider:hover {
    & .room-card__slider-buttons {
        opacity: 1;
    }

    &::after {
        opacity: 1;
    }
}

.body--device--mobile .room-card__slider {
    & .room-card__slider-buttons {
        opacity: 1;
    }

    &::after {
        opacity: 1;
    }
}
