mixin likeBtn(options)
    -
        var amountLikes = options.amount;
        var liked = options.active;

    if liked
        button(class="like-btn like-btn--active")
            span(class="like-btn__icon")
            span(class="like-btn__amount")= amountLikes
    else
        button(class="like-btn")
            span(class="like-btn__icon")
            span(class="like-btn__amount")= amountLikes
