/*
Slider is based on these videos:
https://www.youtube.com/watch?v=pTlsnFLiK6c&list=LL&index=53&t=315s js + html
https://www.youtube.com/watch?v=DfSYmk_6vk8&t=915s js + css
*/

.slider {
    max-width: 100%;
    width: 266px;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__title {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }

    &__range-value-list {
        display: flex;
        margin-top: 0;
        margin-left: auto;
        list-style: none;
    }

    &__range-value-item {
        margin-top: 0;
        font-size: 12px;
        color: $dark-shade-50per;

        &::after {
            content: "₽";
        }

        & + & {
            &::before {
                content: "-";
                margin: 0 2px;
            }
        }
    }

    &__wrap {
        position: relative;
        margin-bottom: 10px;
        height: 14px;
        width: 100%;
    }

    &__track {
        z-index: -2; // for firefox
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid $dark-shade-25per;
        border-radius: 3px;
        margin: auto;
        height: 6px;
        width: 100%;
        box-sizing: border-box;
    }

    &__range-between {
        z-index: -1; // for firefox
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 3px;
        margin: auto;
        background: $blue-green-gradient;
        height: 6px;
    }

    &__range-input {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: transparent;
        width: 100%;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* all three properties remove slider's strip */

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
        }

        &::-moz-range-track {
            -moz-appearance: none;
        }

        &::-ms-track {
            appearance: none;
        }

        &::-webkit-slider-thumb {
            @include size(14px);

            z-index: 1; // for firefox
            position: relative;
            border: 2px solid #fff;
            border-radius: 50%;
            background: $blue-green-gradient;
            box-sizing: border-box;
            cursor: pointer;
            pointer-events: auto;
            -webkit-appearance: none; // removing slider's button
        }

        &::-moz-range-thumb {
            @include size(14px);

            z-index: 1; // for firefox
            position: relative;
            border: 2px solid #fff;
            border-radius: 50%;
            background: $blue-green-gradient;
            box-sizing: border-box;
            cursor: pointer;
            pointer-events: auto;
            -webkit-appearance: none; // removing slider's button
        }

        &::-ms-thumb {
            @include size(14px);

            z-index: 1; // for firefox
            position: relative;
            border: 2px solid #fff;
            border-radius: 50%;
            background: $blue-green-gradient;
            box-sizing: border-box;
            cursor: pointer;
            pointer-events: auto;
            appearance: none; // removing slider's button
        }
    }

    &__description-text {
        font-size: 12px;
        line-height: 14px;
        color: $dark-shade-50per;
    }
}
