.logo-sign-wrap
    img.logo-sign(src = require("/src/SVG/logo.svg"))

.wrap-color-and-type
    ul.color-pallete
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Dark Shade 100%
                h2.color-pallete__color-name #1F2041
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Dark Shade 75%
                h2.color-pallete__color-name #1F2041
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Dark Shade 50%
                h2.color-pallete__color-name #1F2041
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Dark Shade 25%
                h2.color-pallete__color-name #1F2041
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Dark Shade 5%
                h2.color-pallete__color-name #1F2041
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Purple
                h2.color-pallete__color-name #BC9CFF
        li.color-pallete__item
            .color-pallete__visual-repres
            .color-pallete__descr
                h2.color-pallete__title Green
                h2.color-pallete__color-name #6FCF97

    ul.font-sizes
        li.font-sizes__item
            h1.font-sizes__size H1
            h1.font-sizes__text-example This one is the sub-section or widget title
        li.font-sizes__item
            h2.font-sizes__size H2
            h2.font-sizes__text-example Next one is the item title inside widgets
        li.font-sizes__item
            h3.font-sizes__size H3
            h3.font-sizes__text-example.font-sizes__text-example--uppercase This is a label or CTA text
        li.font-sizes__item
            p.font-sizes__size Body
            p.font-sizes__text-example This is the body text which is used for most of the design, like paragraphs, lists, etc.
