include ../../primitives/textField/textField.pug
include ../../primitives/buttons/buttons.pug

.card.login-card
    h1.card__title Войти
    form.card__form(method="post")
        .card__group-wrap
            +textField({type: "email", placeholder: "Email", name: "email-address"})
            +textField({type: "password", placeholder: "Пароль", name: "passsword"})
        .card__solo-el-wrap-big
            +button({type: {name: "btn--type--filled", value: "btn--type--filled--arrow", functionality: ""}, text: "войти", typeAttr: "button"})
        .card__btn-text-wrap
            p.registration__text Нет аккаунта на Toxin?
            +button({type: {name: "btn--type--unfilled"}, text: "Создать", linkType: true, linkPath: "registration"})
