doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        h2 UI KIT
        ul
            li
                a(href="./headersAndFooters.html") headersAndFooters
            li
                a(href="./formElements.html") formElements
            li
                a(href="./colorAndType.html") colorAndType
            li
                a(href="./cards.html") cards

        h2 Website pages
        ul
            li
                a(href="./landingPage.html") landingPage
            li
                a(href="./registration.html") registration
            li
                a(href="./roomDetails.html") roomDetails
            li
                a(href="./searchRoom.html") searchRoom
            li
                a(href="./signIn.html") signIn
