extends ../templatesOrExtends/layout.pug

block meta
    meta(name="keywords", content="отель, снять комнату, подобрать номер")
    meta(name="description", content="Найдите подходящий вам номер, среди тысячи различных отелей")
    title Отели на любой вкус. Подобрать номер прямо сейчас
block content
    include ../includes/pageComponents/landingPage/landingPage.pug
