extends ../templatesOrExtends/layout.pug

block meta
    meta(name="keywords", content="регистрация, снять комнату, отель")
    meta(name="description", content="Регистрируясь вы получаете доступ к более чем 1000 отелей")
    title Зарегистрируйтесь и выберите интересующий вас отель прямо сейчас!
block content
    include ../includes/pageComponents/roomDetails/roomDetails.pug
