extends ../templatesOrExtends/layout.pug

block meta
    meta(name="keywords", content="поиск номеров, снять номер, забронировать номер")
    meta(name="description", content="На данном сайте вы можете выбрать интересующий вас номер среди обильного выбора отелей")
    title Поиск и выбор подходящего отеля, Снять номер отеля по выгодной цене
block content
    include ../includes/pageComponents/searchRoom/searchRoom.pug
