extends ../templatesOrExtends/layout.pug

block meta
    meta(name="keywords", content="войти, снять комнату, отель, учетная запись")
    meta(name="description", content="Войдите чтобы получить доступ к более чем 1000 отелей прямо сейчас")
    title Войдите в учетную запись
block content
    include ../includes/pageComponents/login/signIn.pug
