.card {
    // for btn--type--unfilled
    z-index: 0;
    position: relative;

    // ---
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: $card-border-radius;
    background-color: #fff;
    max-width: 100%;
    width: 380px;
    padding: 40px 30px 30px;
    box-shadow: $card-shadow;

    &__title {
        margin-bottom: 20px;
    }

    &__group-wrap {
        margin-bottom: 20px;

        & > * + * {
            margin-top: 10px;
        }
    }

    &__wrap-radio {
        & > * + * {
            margin-left: 20px;
        }
    }

    &__solo-el-wrap-small {
        margin-bottom: 20px;
    }

    &__solo-el-wrap-big {
        margin-bottom: 30px;
    }

    &__btn-text-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & * + * {
            margin-left: 15px;
        }
    }
}

.cards-page-wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 100px;
    gap: 40px;
}
