.logo-sign-wrap
    img.logo-sign(src = require("../../SVG/logo.svg") alt="logo-sign")

.cards-page-wrap
    include ../../baseBlocks/registrationCard/registrationCard.pug
    include ../../baseBlocks/roomPriceCard/roomPriceCard.pug
    include ../../baseBlocks/roomSearchCard/roomSearchCard.pug
    include ../../baseBlocks/loginCard/loginCard.pug
