/* rateBtn was made based on this video:
https://www.youtube.com/watch?v=d2ve7xQNco8 */

.pagination {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &__list {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 9px;
        padding: 0;
    }

    &__item {
        @include size(40px);

        border-radius: 50%;
        margin-top: 0;
        list-style: none;
        line-height: 40px;
        color: $dark-shade-50per;
        cursor: pointer;
        text-align: center;
        user-select: none;

        &--dots {
            cursor: default;
        }

        &--icon {
            position: relative;
            background: $blue-green-gradient;
            color: #fff;

            &::after {
                @include size(16px);

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
                margin: auto;
                background-image: url("/src/SVG/arrow-ico.svg");
                background-position: center;
            }

            &--prev::after {
                transform: rotate(180deg);
            }
        }
    }

    &__descr {
        text-align: center;
        font-size: 14px;
        color: $dark-shade-75per;
    }
}

.pagination__item--numb:hover,
.pagination__item--active {
    background: $pink-purple-gradient;
    font-weight: 700;
    color: #fff;
}
