.expandable-chbox {
    width: 266px;
    min-width: 210px;
    max-width: 100%;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__header {
        position: relative;
        padding-right: 44px;
        cursor: pointer;

        &::after {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 0;
            margin: auto;
            content: '';
            transition-duration: $base-duration;
            background: {
                image: url('/src/SVG/angle-dark-ico.svg');
                repeat: no-repeat;
                position: center;
            }

            @include size(12px);
        }
    }

    &__list {
        display: none;

        & > * + * {
            margin-top: 13px;
        }
    }

    &--active .expandable-chbox__header {
        margin-bottom: 16px;
    }

    &--active .expandable-chbox__list {
        display: block;
    }

    &--active .expandable-chbox__header::after {
        transform: rotate(180deg);
    }
}
