.expandable-chbox {
    max-width: 100%;
    min-width: 210px;
    width: 266px;

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__header {
        position: relative;
        padding-right: 44px;
        cursor: pointer;

        &::after {
            @include size(12px);

            position: absolute;
            top: 0;
            bottom: 0;
            right: 16px;
            content: "";
            margin: auto;
            transition-duration: $base-duration;
            background: {
                position: center;
                image: url("/src/SVG/angle-dark-ico.svg");
                repeat: no-repeat;
            }
        }
    }

    &__list {
        display: none;

        & > * + * {
            margin-top: 13px;
        }
    }

    &--active .expandable-chbox__header {
        margin-bottom: 16px;
    }

    &--active .expandable-chbox__list {
        display: block;
    }

    &--active .expandable-chbox__header::after {
        transform: rotate(180deg);
    }
}
