include ../../baseBlocks/header/header.pug

.wrapper
    +header({userAuthorization: false})
    main.content
        .login
            include ../../baseBlocks/loginCard/loginCard.pug
    include ../../baseBlocks/footer/footer.pug
