doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include ../includes/baseBlocks/script
    body
        include ../includes/baseBlocks/registration/registration.pug
        include ../includes/baseBlocks/login/login.pug
        include ../includes/baseBlocks/roomSearch/roomSearch.pug
        include ../includes/baseBlocks/roomPrice/roomPrice.pug
        include ../includes/baseBlocks/roomCard/roomCard.pug
