include ../includes/baseBlocks/header/header.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="регистрация, снять комнату, отель")
        meta(name="description", content="Регистрируясь вы получаете доступ к более чем 1000 отелей")
        title Зарегистрируйтесь и выберите интересующий вас отель прямо сейчас!
        include ../includes/baseBlocks/script
    body
        .wrapper
            +header({userAuthorization: false})
            main.content
                .login
                    include ../includes/baseBlocks/registrationCard/registrationCard.pug
            include ../includes/baseBlocks/footer/footer.pug
