// Primitives
include ../includes/primitives/dropdown/dropdown.pug
include ../includes/primitives/buttons/buttons.pug
include ../includes/primitives/checkbox/checkbox.pug
include ../includes/primitives/pagination/pagination.pug
include ../includes/primitives/doubleSlider/doubleSlider.pug
// Base blocks
include ../includes/baseBlocks/header/header.pug
include ../includes/baseBlocks/chboxList/chboxList.pug
include ../includes/baseBlocks/expandableChboxList/expandableChboxList.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="поиск номеров, снять номер, забронировать номер")
        meta(name="description", content="На данном сайте вы можете выбрать интересующий вас номер среди обильного выбора отелей")
        title Поиск и выбор подходящего отеля, Снять номер отеля по выгодной цене
        include ../includes/baseBlocks/script
    body
        .wrapper
            +header({userAuthorization: false})
            main.content
                .search-room
                    .search-room__container
                        aside.search-room__sidebar
                            .search-room__sidebar-container
                                .search-room__sidebar-el-wrap
                                    +dropdown({dropdownTitle: "Гости", type: "guests"})
                                .search-room__sidebar-el-wrap
                                    +doubleSlider({title: "Диапазон цены", descriptionText: "Стоимость за сутки пребывания в номере", minValue: 0, maxValue: 15000, leftBaseValue: 5000, rightBaseValue: 10000})
                                .search-room__sidebar-el-wrap
                                    +chboxList({listTitle: "Правила дома", checkboxArr: [
                                        {txt: {main: "Можно курить"}, active: false},
                                        {txt: {main: "Можно с питомцами"}, active: true},
                                        {txt: {main: "Можно пригласить гостей (до 10 человек)"}, active: true}
                                    ]})
                                .search-room__sidebar-el-wrap
                                    +chboxList({listTitle: "Доступность", checkboxArr: [
                                        {txt: {title: "Широкий коридор", main: "Ширина коридоров в номере не менее 91 см."}, active: false},
                                        {txt: {title: "Помощник для инвалидов", main: "На 1 этаже вас встретит специалист и проводит до номера."}, active: false}
                                    ]})
                                .search-room__sidebar-el-wrap
                                    +dropdown({dropdownTitle: "Удобства номера", type: "rooms"})
                                .search-room__sidebar-el-wrap
                                    +expandableChboxList({title: "Дополнительные удобства", checkboxArr: [
                                        {txt: {main: "Завтрак"}, active: false},
                                        {txt: {main: "Письменный стол"}, active: true},
                                        {txt: {main: "Стул для кормления"}, active: true},
                                        {txt: {main: "Кроватка"}, active: true},
                                        {txt: {main: "Телевизор"}, active: false},
                                        {txt: {main: "Шампунь"}, active: false}
                                    ]})
                                .search-room__sidebar-el-wrap
                                    +button({type: {name: "btn--type--without-border"}, text: "Close", typeAttr: "button", id: "btnCloseSidebar"})
                        .search-room__content
                            .search-room__cards-top-wrap
                                h1.search-room__title Номера, которые мы для вас подобрали
                                button.search-room__option-btn(type="button")
                            ul.search-room__room-cards-list
                            +pagination({txt: "1 – 12 из 100+ вариантов аренды"})
            include ../includes/baseBlocks/footer/footer.pug
