.footer {
    margin-top: 100px;
    width: 100%;
    box-shadow: $light-shadow;

    &__top {
        margin-bottom: 100px;
        padding: 0 20px;
    }

    &__top-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1160px;
    }

    &__top-item-container {
        max-width: 260px;

        > *[class] + *[class] {
            margin-top: 20px;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &__text {
        color: $dark-shade-75per;
    }

    &__info-list {
        list-style: none;
    }

    &__info-link {
        color: $dark-shade-50per;
    }

    &__info-item {
        & + & {
            margin-top: 20px;
        }
    }

    &__bottom {
        border-top: 1px solid $dark-shade-10per;
        height: 70px;
        width: 100%;
        padding: 0 20px;
    }

    &__bottom-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1160px;
    }

    &__social-list {
        display: flex;
        list-style: none;
    }

    &__social-item {
        & + & {
            margin-left: 20px;
        }
    }

    &__mobile {
        padding: 0 20px 120px;
    }

    &__mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // &__title {
    // }

    // &__social-link {
    // }

    // &__social-icon {
    // }
}
