mixin radio(options)
    -
        var radioTxt = options.txt;
        var radioName = options.name;
        var checked = options.active;

    label(class = "radio__label")
        if checked
            input(class = "radio__el", name=radioName, type = "radio", checked)
        else
            input(class = "radio__el", name=radioName, type = "radio")
        span(class = "radio__text switches-text")= radioTxt
