include ../../baseBlocks/header/header.pug

.headersAndFooters-header-wrap
    +header({userAuthorization: false})
    +header({userAuthorization: true, userName: 'Юлий Цезарь'})

include ../../baseBlocks/footer/footer.pug
