.dropdown {
    position: relative;
    min-width: 210px;
    max-width: 100%;

    &--type--rooms {
        width: 266px;

        & .dropdown__header {
            border-radius: 4px 4px 0 0;
        }
    }

    &--type--guests {
        width: 320px;

        & .dropdown__header {
            border-radius: 4px;
        }
    }

    &__content {
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        display: none;
        width: inherit;
        max-width: 100%;
        padding: 7px 7px 7px 15px;
        background-color: #fff;
        border: 1px solid $darkShade25per;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        transition-duration: $base-duration;
    }

    &__header {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 7px 44px 7px 15px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid $darkShade25per;
        border-radius: 4px 4px 0 0;
        transition-duration: $base-duration;

        &:hover {
            background-color: $darkShade5per;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 0;
            margin: auto;
            content: '';
            transition-duration: $base-duration;
            background: {
                image: url('/src/SVG/angle-dark-ico.svg');
                repeat: no-repeat;
                position: center;
            }

            @include size(12px);
        }
    }

    &__result-txt {
        max-width: 100%;
        overflow: hidden;
        font-weight: $font-weight-regular;
        color: $darkShade75per;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item-title {
        margin-right: 10px;
        line-height: 1.5;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;

        & + .dropdown__item {
            margin-top: 7px;
        }
    }

    &__amount-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 92px;
        margin-left: auto;
    }

    &__amount-btn {
        box-sizing: border-box;
        border: 1px solid $darkShade25per;
        border-radius: 50%;
        transition-duration: $base-duration;

        @include size(30px);

        &.dropdown__amount-btn--non-active {
            pointer-events: none;
            border: 1px solid $darkShade10per;

            &::before {
                color: $darkShade10per;
            }
        }

        &:hover:not(.dropdown__amount-btn.dropdown__amount-btn--non-active) {
            background-color: $darkShade5per;
        }

        &::before {
            font-size: 18px;
            color: $darkShade50per;
        }

        &--minus::before {
            content: '-';
        }

        &--plus::before {
            content: '+';
        }
    }

    &__amount-numb {
        font-size: 12px;
        font-weight: 700;
        color: $darkShade100per;
    }

    &__footer-btns-wrap {
        display: flex;
        justify-content: space-between;
        margin: 12px 0 6px 0;
    }
}

//.dropdown--active

.dropdown--active {
    &.dropdown {
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    }

    & .dropdown__content {
        display: block;
    }

    & .dropdown__header {
        border-radius: 4px 4px 0 0;
    }

    & .dropdown__header::after {
        transform: rotate(180deg);
    }
}

.dropdown--active .dropdown__header,
.dropdown--active .dropdown__header + .dropdown__content {
    border-color: $darkShade50per;
}
