.dropdown {
    position: relative;
    max-width: 100%;
    min-width: 210px;

    &--type--rooms {
        width: 266px;

        & .dropdown__header {
            border-radius: 4px 4px 0 0;
        }
    }

    &--type--guests {
        width: 320px;

        & .dropdown__header {
            border-radius: 4px;
        }
    }

    &__content {
        z-index: 5;
        position: absolute;
        display: none;
        border: 1px solid $dark-shade-25per;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        background-color: #fff;
        max-width: 100%;
        width: inherit;
        box-sizing: border-box;
        padding: 7px 7px 7px 15px;
        transition-duration: $base-duration;
    }

    &__header {
        position: relative;
        border: 1px solid $dark-shade-25per;
        border-radius: 4px 4px 0 0;
        background-color: #fff;
        background-color: #fff;
        height: 44px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 44px 0 15px;
        cursor: pointer;
        transition-duration: $base-duration;

        &:hover {
            background-color: $dark-shade-5per;
        }

        &::after {
            @include size(12px);

            position: absolute;
            top: 0;
            bottom: 0;
            right: 16px;
            content: "";
            margin: auto;
            transition-duration: $base-duration;
            background: {
                position: center;
                image: url("/src/SVG/angle-dark-ico.svg");
                repeat: no-repeat;
            }
        }
    }

    &__result-txt {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: $font-weight-regular;
        color: $dark-shade-75per;
        text-align: left;
    }

    &__item-title {
        margin-right: 10px;
        line-height: 1.5;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;

        & + .dropdown__item {
            margin-top: 7px;
        }
    }

    &__amount-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        min-width: 92px;
    }

    &__amount-btn {
        @include size(30px);

        border: 1px solid $dark-shade-25per;
        border-radius: 50%;
        box-sizing: border-box;
        transition-duration: $base-duration;

        &.dropdown__amount-btn--non-active {
            border: 1px solid $dark-shade-10per;
            pointer-events: none;

            &::before {
                color: $dark-shade-10per;
            }
        }

        &:hover:not(.dropdown__amount-btn.dropdown__amount-btn--non-active) {
            background-color: $dark-shade-5per;
        }

        &::before {
            font-size: 18px;
            color: $dark-shade-50per;
        }

        &--minus::before {
            content: "-";
        }

        &--plus::before {
            content: "+";
        }
    }

    &__amount-numb {
        font-size: 12px;
        font-weight: 700;
        color: $dark-shade-100per;
    }

    &__footer-btns-wrap {
        display: flex;
        justify-content: space-between;
        margin: 12px 0 6px;
    }
}

.dropdown--active {
    &.dropdown {
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    }

    & .dropdown__content {
        display: block;
    }

    & .dropdown__header {
        border-radius: 4px 4px 0 0;
    }

    & .dropdown__header::after {
        transform: rotate(180deg);
    }
}

.dropdown--active .dropdown__header,
.dropdown--active .dropdown__header + .dropdown__content {
    border-color: $dark-shade-50per;
}
