//Main
@import './utils/_Vars.scss';
@import './utils/_Fonts.scss';
@import './utils/_Mixins.scss';
@import './utils/_StandartProp.scss';
// Primitives
@import '../PUG/includes/primitives/toggle/Toggle';
@import '../PUG/includes/primitives/radio/Radio';
@import '../PUG/includes/primitives/checkbox/Checkbox';
@import '../PUG/includes/primitives/likeBtn/LikeBtn';
@import '../PUG/includes/primitives/rateBtn/RateBtn';
@import '../PUG/includes/primitives/doubleSlider/DoubleSlider.scss';
@import '../PUG/includes/primitives/pagination/Pagination.scss';
@import '../PUG/includes/primitives/buttons/Buttons.scss';
@import '../PUG/includes/primitives/dropdown/Dropdown.scss';
@import '../PUG/includes/primitives/textField/TextField.scss';
@import '../PUG/includes/primitives/rangeCalendar/RangeCalendar.scss';
// Base blocks
@import '../PUG/includes/baseBlocks/expandableChboxList/ExpandableChboxList.scss';
@import '../PUG/includes/baseBlocks/chboxList/ChboxList.scss';
@import '../PUG/includes/baseBlocks/bulletList/BulletList.scss';
@import '../PUG/includes/baseBlocks/review/Review.scss';
@import '../PUG/includes/baseBlocks/advantages/Advantages.scss';
@import '../PUG/includes/baseBlocks/registration/Registration.scss';
@import '../PUG/includes/baseBlocks/login/Login.scss';
@import '../PUG/includes/baseBlocks/roomSearch/RoomSearch.scss';
@import '../PUG/includes/baseBlocks/roomPrice/RoomPrice.scss';
@import '../PUG/includes/baseBlocks/roomCard/RoomCard.scss';
//Layouts
@import '../SCSS/layouts/Cards.scss';
// Datepicker
/* Site — https://mymth.github.io/vanillajs-datepicker */
// @import '/node_modules/vanillajs-datepicker/sass/datepicker.scss'; // — base calendar SCSS
@import '../PUG/includes/primitives/calendar/datepicker.scss';

.h3-title {
    &--margin--16 {
        margin-bottom: 16px;
    }

    &--margin--5 {
        margin-bottom: 5px;
    }
}

.block-desc {
    margin: 0 20px 40px 10px;
}

.form-elements-wrap {
    margin: 100px 0 0 100px;
}

.logo-wrap {
    position: absolute;
    margin: 30px 0 0 30px;
}

.wrap-color-and-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding: 0 30px;
    margin-top: 67px;
}

.color-pallete {
    margin: 0 auto;

    &__visual-repres {
        min-width: 70px;
        height: 70px;
        margin-right: 40px;
        border-radius: 6px;
    }

    &__item {
        display: flex;

        &:first-child .color-pallete__visual-repres {
            background-color: $darkShade100per;
        }

        &:nth-child(2) .color-pallete__visual-repres {
            background-color: $darkShade75per;
        }

        &:nth-child(3) .color-pallete__visual-repres {
            background-color: $darkShade50per;
        }

        &:nth-child(4) .color-pallete__visual-repres {
            background-color: $darkShade25per;
        }

        &:nth-child(5) .color-pallete__visual-repres {
            background-color: $darkShade5per;
        }

        &:nth-child(6) .color-pallete__visual-repres {
            background-color: $green;
        }

        &:last-child .color-pallete__visual-repres {
            background-color: $purple;
        }

        & + & {
            margin-top: 20px;
        }
    }

    &__title {
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__color-name {
        font-weight: $font-weight-regular;
    }
}

.font-sizes {
    margin: 0 auto;

    &__item {
        display: flex;
        align-items: flex-start;

        & + & {
            margin-top: 50px;
        }
    }

    &__text-example {
        max-width: 400px;

        &--uppercase {
            text-transform: uppercase;
        }
    }

    &__size {
        min-width: 40px;
        margin-right: 30px;
        overflow: hidden;
        font-weight: normal;
        color: $darkShade25per;
        text-align: right;
        text-overflow: ellipsis;
    }
}
