// Main
@import "./utils/vars";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/standartProp";

// Primitives
@import "../PUG/includes/primitives/radio/Radio";
@import "../PUG/includes/primitives/toggle/Toggle";
@import "../PUG/includes/primitives/likeBtn/LikeBtn";
@import "../PUG/includes/primitives/rateBtn/RateBtn";
@import "../PUG/includes/primitives/buttons/Buttons";
@import "../PUG/includes/primitives/checkbox/Checkbox";
@import "../PUG/includes/primitives/dropdown/Dropdown";
@import "../PUG/includes/primitives/textField/TextField";
@import "../PUG/includes/primitives/pagination/Pagination";
@import "../PUG/includes/primitives/doubleSlider/DoubleSlider";
@import "../PUG/includes/primitives/rangeCalendar/RangeCalendar";
@import "../PUG/includes/primitives/inlineRangeCalendar/InlineRangeCalendar";

// Base blocks
@import "../PUG/includes/baseBlocks/header/Header";
@import "../PUG/includes/baseBlocks/footer/Footer";
@import "../PUG/includes/baseBlocks/review/Review";
@import "../PUG/includes/baseBlocks/roomCard/RoomCard";
@import "../PUG/includes/baseBlocks/loginCard/LoginCard";
@import "../PUG/includes/baseBlocks/advantages/Advantages";
@import "../PUG/includes/baseBlocks/bulletList/BulletList";
@import "../PUG/includes/baseBlocks/roomPriceCard/RoomPriceCard";
@import "../PUG/includes/baseBlocks/roomSearchCard/RoomSearchCard";
@import "../PUG/includes/baseBlocks/registrationCard/registrationCard";
@import "../PUG/includes/baseBlocks/chboxList/ChboxList";
@import "../PUG/includes/baseBlocks/expandableChboxList/ExpandableChboxList";

// Page components
// website components
@import "../PUG/includes/pageComponents/cards/Cards";
@import "../PUG/includes/pageComponents/colorAndType/ColorAndType";
@import "../PUG/includes/pageComponents/formElements/FormElements";
@import "../PUG/includes/pageComponents/headersAndFooters/HeadersAndFooters";
// ui kit components
@import "../PUG/includes/pageComponents/login/Login";
@import "../PUG/includes/pageComponents/searchRoom/SearchRoom";
@import "../PUG/includes/pageComponents/landingPage/LandingPage";
@import "../PUG/includes/pageComponents/roomDetails/RoomDetails";

// Datepicker
/* Site — https://mymth.github.io/vanillajs-datepicker */
// @import '/node_modules/vanillajs-datepicker/sass/datepicker.scss'; // — base calendar SCSS
@import "../PUG/includes/primitives/calendar/datepicker";

.h3-title {
    &--margin--16 {
        margin-bottom: 16px;
    }

    &--margin--5 {
        margin-bottom: 5px;
    }
}

.logo {
    display: block;
    min-width: 106px;
    width: 106px;
}

.logo-sign-wrap {
    position: absolute;
    margin: 30px 0 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit; // inherit = body min-width: 100vh
    padding-top: 70px; // 70px = header height
}

.content {
    flex-grow: 1; // for pressing footer
}

// Main
@import "./utils/media";
