.text-field {
    position: relative;
    max-width: 100%;
    width: 320px;
    box-sizing: border-box;
    cursor: pointer; // works only for icon, because all part is input

    &__input {
        display: block;
        border: 1px solid $dark-shade-25per;
        border-radius: 4px;
        height: 44px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        transition-duration: $base-duration;
    }

    &:hover > .text-field__input,
    &:focus > .text-field__input {
        outline: none;
        border-color: $dark-shade-50per;

        &::placeholder {
            color: $dark-shade-75per;
        }
    }
}

.text-field.text-field--type--subscr {
    width: 266px;

    &::after {
        @include size(44px);

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        content: "";
        margin: auto;
        transition-duration: $base-duration;
        background: {
            position: center;
            image: url("/src/SVG/color-arrow-ico.svg");
            repeat: no-repeat;
        }
    }

    & > .text-field__input {
        padding: 0 calc(14px + 16px + 14px) 0 15px;

        /* from top to bottom, and from left to right (14px + 16px + 14px)
        Using add space we expand area for cursor: pointer */
    }
}

.text-field--type--range-calendar {
    width: 100%;

    &::after {
        @include size(44px);

        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        content: "";
        margin: auto;
        transition-duration: $base-duration;
        background: {
            position: center;
            image: url("/src/SVG/angle-dark-ico.svg");
            repeat: no-repeat;
        }
    }

    & > input {
        z-index: 2;
        position: relative;
        background-color: transparent;
        padding-right: 35px;
        text-overflow: ellipsis;
    }
}
